body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #f1f5f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.visibility {
    border: 1px solid black;
}

#header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: blue;
}

#hero {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12;
    background-color: coral;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 13;
    background-color: deeppink;
}