body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #f1f5f8;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(15, 1fr);

}

.visibility {
    border: 1px solid black;
}

#header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 70px;
    background-color: #ede3d9;
}

.logo {
    width: 80px;
}

#logo-block {
    width: 5%;
}

#navlist {
    list-style: none;
    display: flex;
    gap: 80px;
}

#navlist li  > a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Lemonmilk, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}

#navlist li > a:hover {
    padding-bottom: 5px;
    border-bottom: #000 1px solid;
}

#hero {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 16;
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #473023;
}

#hero-central-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Cormorantgaramond, Arial, sans-serif;
    font-size: 3.9rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.italic {
    font-style: italic;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 10.5px;
    width: 180px;
    height: 50px;
    background-color: white;
    color: #000;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
    border: none;
}

button:hover {
    background-color: #000;
    color: white;
}

#footer-container {
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: #EDE3D9;
}

#first-part-footer {
    display: flex;
    justify-content: space-between;
}

#coordinate {
    margin-left: 100px;
}

#footer-img > img {
    padding: 20px;
}

#footer-img {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 0;
}

#catch-sentence {
    font-family: Cormorantgaramond, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: 25px;
    font-size: 1rem;
}

#link-footer {
    font-family: Lemonmilk, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0;
}

#links-footer {
    font-family: Lemonmilk, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 100px;
}

#links-footer span > a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}

#second-part-footer {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#second-part-footer > button {
    margin-bottom: 20px;
}

#dash-block-one {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: -10px 0;
}

#dash-block-one p {
    margin-top: 0;
}

#third-part-footer {
    font-size: 1.125rem;
    margin:  -25px 100px;
    display: flex;
}

#third-part-footer p {
    margin-top: -15px;
}

#four-part-footer {
    margin-left: 100px;
}

#four-part-footer p {
    letter-spacing: 2px;
}

#five-part-footer {
    margin: 0 100px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#five-part-footer img {
    width: 35px;
}